*{
    padding : 0;
    margin: 0;
    text-decoration: none;
    
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #e9f0f8;
    color:white;
    font-family: "Agdasima", serif;
    font-size: 1.6rem;
    text-shadow:  1px 1px 3px rgba(255, 157, 35,0.5);
    
}

/* Navbar */
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(13, 24, 33, 0.9) ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:99999;
}

.navbar .navbar-logo{
    font-family: "Audiowide", serif;
    font-style: italic;
    font-size: 2rem;
    color: #E5D0AC;
    
    
}


.navbar .navbar-nav a{
    color:#fff;
    font-size: 1.3rem;
    margin: 0 1rem;
    display: inline-block; 
}

.navbar .navbar-nav a:hover{
    color: #E5D0AC;
}

/* animasi hover nabvar-nav */
.navbar .navbar-nav a::after {
    
}

.hamburger{
    display: none;
    color:#E5D0AC;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    background-image: url('img/home-bg.jpg');
    background-position: center;  
    background-size: cover; 
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.hero::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom:0;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.4rem 7%;
}

.hero .content h1{
    font-size: 5em;
    line-height: 0.8;
    max-width: 60rem;
}

.hero .content p{
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    max-width: 50rem;
}


/* About Section */
.about {
    padding:6rem 7% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:4rem ;
    background: rgb(0,0,0);
    background: linear-gradient(185deg, rgba(0,0,0,1) 13%, rgba(109,167,201,1) 40%, rgba(52,73,102,1) 92%);
}

.about h2{
    text-align: center;
    font-size: 1.5rem;
 
}

.about h1{
    text-align: center;
    font-size: 2.5rem;
}

.about p{
    margin: 1rem 0rem;
}

.about img{
    width: 50%;
    height: 50%;
}


.about-content{
    align-content: center;  
}


/* menu  */
.menu {
    padding:6rem 5% 1.4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    background: rgb(52,73,102);
    background: linear-gradient(0deg, rgba(52,73,102,1) 22%, rgba(13,24,33,1) 51%, rgba(52,73,102,1) 81%);
}
.menu-card {
    background: rgb(233,240,248);
    background: linear-gradient(13deg, rgba(233,240,248,1) 35%, rgba(180,203,235,1) 50%, rgba(233,240,248,1) 65%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 15rem;
    text-align: center;
    transition: transform 0.3s;
    text-shadow: none;
}
.menu-card:hover {
    transform: scale(1.05);
}
.menu-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.menu-card .content {
    padding: 0px 15px 15px 15px;
}
.menu-card h3 {
    color: black;
    line-height: 1.6rem;
}
.menu-card p {
    color: #777;
    font-size: 1.6rem;
}
.menu-card .price {
    color: black;
    font-weight: bold;
    margin: 0.5rem 0;
    padding: 0 2rem;
    font-size: 1rem;
}
.menu-card a {
    background: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.7rem;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 1rem;
}
.menu-card a:hover {
    background: #218838;
}

.menu-card a i{
    padding-right: .4rem;
}

.menu h1{
    width: 100%;
    text-align: center;
}
/* contact */
.contact {
    padding: 6rem 5% 1.4rem;
    margin: 4rem;
    background: linear-gradient(356deg, rgba(0, 0, 0, 1) 8%, rgba(52, 73, 102, 1) 50%, rgba(52, 73, 102, 1) 73%);
    color: white;
}

.contact .teks {
    text-align: center;
}

.contact .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    align-items: center;
    background-color: #777;
}

.contact .content .map{
    height:20rem ;
    max-width: 100%;
    object-fit: cover;
    flex: 2;
}

.contact .content .list {
    text-align: left;
    padding: 2rem ;
    list-style: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact li {
    padding-bottom: 1rem;
}


/* footer */
.footer {
    background-color: #0d1821 ;
    color: white;
    text-align: center;
    padding: 1.25rem;
    position: top;
    bottom: 0; 
}
.footer a {
    color: #f8b400;
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 1rem;
}
.footer a:hover {
    text-decoration: underline;
}



/* Media queries */

/* Navbar untuk Mobile */
@media (max-width: 768px) {
    html{
        font-size: 68%;
    }
    .hero {
        background-image: url('img/home-bg-hp.jpg');
        background-position: center;
        background-size: cover;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        color: #E5D0AC;
    }

    .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 20rem;
        height: 100vh;
        background-color: rgba(13, 24, 33, 0.7);
        transition: 0.3s;
    }

    .navbar-nav.active {
        right: 0; 
    }
    .navbar .navbar-nav a{
        margin: 7rem 2rem;
        display: block;
        font-size:2rem ;
    }

    .menu{
        gap: 2rem 3.5rem;
    }

}


/* Mobile Phone */
@media (max-width : 450px){
    html{
        font-size: 60%;
    }

    .hero {
        background-image: url('img/home-bg-hp.jpg');
        background-position: center;
        background-size: cover;
    }


}



